---
import BlogPost from "../components/blog/BlogPost.astro";
import LayoutBlog from "../layouts/LayoutBlog.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
// ordenar por fecha en una copia del array
const sortedPosts = [...allPosts].sort(
  ({ frontmatter: { date: aDate } }, { frontmatter: { date: bDate } }) =>
    new Date(bDate) - new Date(aDate)
);
---

<LayoutBlog title="rubengarzon | blog de programación">
  <div
    class="flex flex-wrap gap-10 place-content-center mt-14 lg:gap-32 xl:gap-56"
  >
    <section>
      <h2 class="font-bold p-2 text-lg">Últimos artículos</h2>
      {
        sortedPosts.slice(0, 7).map((post) => {
          return (
            <BlogPost
              title={post.frontmatter.title}
              url={post.url}
              img={post.frontmatter.image.url}
              date={post.frontmatter.date}
            />
          );
        })
      }
      {
        allPosts.length > 7 && (
          <div class="mt-4">
            <a href="/page/2" class="text-[#09f] font-bold">
              artículos anteriores {">"}
            </a>
          </div>
        )
      }
    </section>
    <aside>
      <h2 class="font-bold p-2 text-lg">Cursos de Programación gratuitos</h2>
      <a
        href="https://rubengarzon.notion.site/APRENDE-REACT-desde-CERO-f3c25af67a824b65925a051af4babaa3"
        target="_blank"
      >
        <article
          class="flex flex-col w-80 h-44 bg-[#00CBFF] rounded-md place-content-center items-center hover:scale-105 transition-all duration-300 ease-in-out cursor-pointer hover:bg-[#00B2E6]"
        >
          <img
            src="https://cdn.iconscout.com/icon/free/png-256/react-1543566-1306069.png"
            alt=""
            width="100"
            height="100"
          />
          <span class="text-lg font-bold">Aprende React desde Cero</span>
          <span class="text-lg font-bold"
            >La biblioteca de JS más demandada</span
          >
        </article>
      </a>
      <section class="mt-10">
        <h2 class="font-bold text-lg">Artículos por temas</h2>
        <div class="flex flex-wrap gap-6">
          <a
            href="/tags/react"
            class="mt-2 block cursor-pointer border-2 border-white rounded-md p-2 hover:bg-[#09f] hover:text-white transition-all duration-300 ease-in-out font-bold text-[#09f] text-lg hover:border-[#09f]"
          >
            <img
              src="https://cdn.iconscout.com/icon/free/png-256/react-1543566-1306069.png"
              alt="icono de react"
              width="30"
              height="30"
              class="inline-block invert"
            />
            React
          </a>
          <a
            href="/tags/typescript"
            class="mt-2 block cursor-pointer border-2 border-white rounded-md p-2 hover:bg-blue-700 hover:text-white transition-all duration-300 ease-in-out font-bold text-blue-700 text-lg hover:border-blue-700"
          >
            <img
              src="https://cdn.worldvectorlogo.com/logos/typescript-2.svg"
              alt="icono de typescript"
              width="30"
              height="30"
              class="inline-block"
            />
            Typescript
          </a>
          <a
            href="/tags/css"
            class="mt-2 block cursor-pointer border-2 border-white rounded-md p-2 hover:bg-blue-500 hover:text-white transition-all duration-300 ease-in-out font-bold text-blue-500 text-lg hover:border-blue-500"
          >
            <img
              src="https://cdn.iconscout.com/icon/free/png-256/css-131-722685.png"
              alt="icono de css"
              width="30"
              height="30"
              class="inline-block"
            />
            CSS
          </a>
        </div>
      </section>
    </aside>
  </div>
</LayoutBlog>
