---
const year = new Date().getFullYear();
---

<footer>
  <div class="bg-gray-800 text-white text-center p-4">
    <p class="text-sm">
      © {year} -
      <a href="https://www.linkedin.com/in/ruben-dev
" class="text-blue-400"
        >Rubén Garzón.</a
      > Todos los derechos reservados
    </p>
  </div>
</footer>
