---
import Technology from "./Technology.astro";
import TitleSection from "./TitleSection.astro";
import technologies from "../json_files/technologies.json";
---

<TitleSection title="Tecnologías" />
<section class="flex flex-wrap justify-center gap-5 mb-10">
  {
    technologies.map((technology) => (
      <Technology
        img={technology.img}
        name={technology.name}
        description={technology.description}
        url={technology.url}
      />
    ))
  }
</section>
