---
  const title = Astro.props.title;
---

<h2 class="text-5xl text-center font-bold mt-32 animate-bounce">{title}</h2>
<div class="flex w-full justify-center mb-24 mt-3">
  <span class="inline-flex h-2 w-1/3 rounded-md bg-gray-900 animate-bounce"
  ></span>
</div>