<footer class="w-full mt-28 relative lg:hidden">
  <div
    class="flex absolute bottom-0 justify-center p-4 text-white rounded-md w-full"
  >
    <ul class="flex gap-4">
      <li class="hover:text-blue-200">
        <a href="mailto:rubengarzonzafra@gmail.com">Contacto</a>
      </li>
      <li class="hover:text-blue-200">
        <a href="https://www.rubengarzon.vercel.app">Web</a>
      </li>
      <li class="hover:text-blue-200">
        <a href="https://github.com/rubengarzon">GitHub</a>
      </li>
      <li class="hover:text-blue-200">
        <a href="https://www.linkedin.com/in/ruben-dev
">LinkedIn</a>
      </li>
    </ul>
  </div>
</footer>
