<footer
  class="w-full flex place-content-center mt-14 mb-3 lg:absolute lg:bottom-1"
>
  <div
    class="flex justify-center p-4 bg-slate-800 text-white w-72 rounded-md border-gray-600 border-2"
  >
    <ul class="flex gap-4">
      <li class="hover:text-blue-200">
        <a href="mailto:rubengarzonzafra@gmail.com">Contacto</a>
      </li>
      <li class="hover:text-blue-200">
        <a href="https://www.rubengarzon.vercel.app">Web</a>
      </li>
      <li class="hover:text-blue-200">
        <a href="https://github.com/rubengarzon">GitHub</a>
      </li>
      <li class="hover:text-blue-200">
        <a href="https://www.linkedin.com/in/ruben-dev
">LinkedIn</a>
      </li>
    </ul>
  </div>
</footer>
