<footer class="relative flex justify-center p-4 mb-20 sm:hidden">
  <ul class="flex gap-4">
    <li>
      <a href="mailto:rubengarzonzafra@gmail.com">Contacto</a>
    </li>
    <li>
      <a href="https://www.rubengarzon.vercel.app">Web</a>
    </li>
    <li>
      <a href="https://github.com/rubengarzon">GitHub</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/ruben-dev
">LinkedIn</a>
    </li>
  </ul>
</footer>
