<nav class="flex gap-10 place-content-center mt-4 items-center sm:gap-72">
  <a href="/#blog" class="flex gap-2 transition-transform hover:scale-105">
    <img
      src="https://i.ibb.co/F3hfFDz/logo-sin-fondo-2.png"
      alt="logo"
      class="w-9 h-12"
    />
    <h1 class="text-xl font-bold self-center">ir al blog</h1>
  </a>
  <ul class="flex gap-4">
    <li>
      <a href="https://rubengarzon.vercel.app/"
        ><img
          src="https://seeklogo.com/images/W/web-icon-logo-A6B586D114-seeklogo.com.png"
          alt="logo web"
          width="27"
          class="rounded-full bg-white p-1 shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out transform hover:scale-105 hover:rotate-3 hover:skew-x-6 hover:skew-y-6"
        /></a
      >
    </li>
    <li>
      <a href="https://www.linkedin.com/in/ruben-dev"
        ><img
          src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
          alt="logo de linkedin"
          width="27"
          class="rounded-full bg-white p-1 shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out transform hover:scale-105 hover:rotate-3 hover:skew-x-6 hover:skew-y-6"
        /></a
      >
    </li>
    <li>
      <a href="https://github.com/rubengarzon"
        ><img
          src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
          alt="logo de github"
          width="27"
          class="rounded-full bg-white p-1 shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out transform hover:scale-105 hover:rotate-3 hover:skew-x-6 hover:skew-y-6"
        /></a
      >
    </li>
  </ul>
</nav>
