<nav class="flex gap-72 place-content-center mt-4">
  <a href="/blog" class="flex gap-2 transition-transform hover:scale-105">
    <img
      src="https://seeklogo.com/images/V/visual-studio-code-logo-43C3AC9C08-seeklogo.com.png"
      alt="logo"
      width="30"
    />
    <h1 class="text-xl font-bold">Rubén Garzón</h1>
  </a>
  <ul class="flex gap-4">
    <li>
      <a href="https://rubengarzon.vercel.app/"
        ><img
          src="https://cdn.icon-icons.com/icons2/1875/PNG/512/web_120072.png"
          alt="logo de mi web"
          width="27"
          class="rounded-full bg-white p-1 shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out transform hover:scale-105 hover:rotate-3 hover:skew-x-6 hover:skew-y-6"
        /></a
      >
    </li>
    <li>
      <a href="https://www.linkedin.com/in/ruben-dev"
        ><img
          src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
          alt="logo de linkedin"
          width="27"
          class="rounded-full bg-white p-1 shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out transform hover:scale-105 hover:rotate-3 hover:skew-x-6 hover:skew-y-6"
        /></a
      >
    </li>
    <li>
      <a href="https://github.com/rubengarzon"
        ><img
          src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
          alt="logo de github"
          width="27"
          class="rounded-full bg-white p-1 shadow-md hover:shadow-lg transition-shadow duration-300 ease-in-out transform hover:scale-105 hover:rotate-3 hover:skew-x-6 hover:skew-y-6"
        /></a
      >
    </li>
  </ul>
</nav>
