---
import FooterPost from "../components/blog/FooterPost.astro";
import Header from "../components/blog/Header.astro";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://www.favicon.cc/logo3d/837.png"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <section class="mt-20 mb-32">
      <slot />
    </section>
    <FooterPost />
  </body>
</html>
